.navbar-fixed{
	opacity: 0.93;
}


.slider{
	height: 80%;
}

.logo {
	margin-left: 30px;
	height: 50px;
}
<<<<<<< HEAD

=======
#menu{
font-size: 18px;
    margin-top:15px;
}
#musica{

   margin-bottom: 50px;
}

#reproductor{
width:550px;
    height:450px;
    margin-left: 400px;
    
}
>>>>>>> puta
