body h1,h2{
	color:#f9a825;
}

body h3{
	color:#f44336;
}

body a{
	cursor:pointer; 
	cursor: hand;
}
.navbar-fixed{
	opacity: 0.93;
}


.slider{
	height: 80%;
}

.logo {
	margin-left: 30px;
	height: 50px;
}
#menu{
font-size: 18px;
    margin-top:15px;
}
#musica{

   margin-bottom: 50px;
}

#reproductor{
width:750px;
    height:450px;
    margin-left: 320px;
    
}


.card-image{
	height: 15em !important;
}

.carousel-item img{
	height: 7em;
}

.visor{
	height: auto;
	border-width: 2px;
	margin-top: -200px;
}  

.card-title{
	color: #b2ff59 !important;
}



.carousel{
	margin-top: -100px !important;
}


.fotovisor{
	background-size: cover !important;
}

.obligatorio{
	color:red;
}

.video-container{
	padding-bottom: 30% ;
}

.sliderbt{
	color: #aeea00;
}