.navbar-fixed{
	opacity: 0.93;
}


.slider{
	height: 80%;
}

.logo {
	margin-left: 30px;
	height: 50px;
}
#menu{
font-size: 18px;
    margin-top:15px;
}
#musica{

   margin-bottom: 50px;
}

#reproductor{
width:750px;
    height:450px;
    margin-left: 320px;
    
}


.card-image{
	height: 15em !important;
}

.carousel-item img{
	height: 7em;
}

.visor{
	height: 500px;
	border-color: black;
	border: solid;
	border-width: 2px;
	background-repeat: no-repeat;
	margin-top: -200px;
}

.carousel{
	margin-top: -100px !important;
}
